EXPO_PUBLIC_MODE=development
EXPO_PUBLIC_API_BASE_URL=https://domain.com/
EXPO_PUBLIC_API_SOCKET_URL=https://domain.com/
EXPO_PUBLIC_GLOBAL_DELAY=0

EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY_HERE

EXPO_PUBLIC_GOOGLE_CLIENT_ID=google-client-id
EXPO_PUBLIC_LINKEDIN_CLIENT_ID=linkedin-client-id


EXPO_PUBLIC_OAUTH_REDIRECT_URI=redirect-EXPO_PUBLIC_OAUTH_REDIRECT_URI

